.header {
	width: 100%;
	font-size: 12px;
	color: white;
	background-color: transparent;
	background-image: url("../images/masthead-background1.jpg");
	background-position: 0 0;
	background-repeat: repeat-x;
}

.ajaxProcessIcon {
	position: absolute;
	right: 1px;
	top: 10px;
	z-index: 5;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: 12px;
}
